<!-- templates/tag/invalid_tag.html -->

{% extends 'base.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom_login.css') }}">

{% endblock %}

{% block title %}Invalid Tag{% endblock %}

{% block content %}
<main class="container-fluid">

    <h1>Unauthorized Access!</h1>
    <p>You are being rerouted to the main page</p>

    <script>
        // JavaScript snippet to delay redirection
        setTimeout(function() {
            window.location.href = "{{ url_for('main.home') }}";
        }, 3000);  // Set the delay time in milliseconds
    </script>
</main>
{% endblock %}
