{% extends 'base.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom_login.css') }}">

{% endblock %}

{% block title %}Admin Login{% endblock %}

{% block content %}
<main class="container">
  <article class="grid">
    <div>
      <hgroup>
        <h1>Login</h1>
        <p>Manage Users and Tags</p>
      </hgroup>
      <form method="post" action="{{ url_for('admin.login') }}">
        <input type="text" name="username" placeholder="Username" aria-label="Username" autocomplete="username"
          required />
        <input type="password" name="password" placeholder="Password" aria-label="Password"
          autocomplete="current-password" required />

        <button type="submit" class="contrast">Login</button>
      </form>
    </div>
    <div></div>
  </article>

  <section>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="flash-messages">
      {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
  </section>
</main>


{% endblock %}