<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} NFC Contact Share {% endblock %}</title>
    <!-- Add Pico.css stylesheet -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <!-- additional styles -->
</head>

<body class="container">
    <nav>
        <ul>
          <li><strong>NFC Contact Share</strong></li>
        </ul>
        <ul>
            <li><a href="{{ url_for('main.home') }}" class="contrast">Home</a></li>
            {% if not current_user.is_authenticated %}
            <li>
                <a href="{{ url_for('user.login') }}" class="contrast">Login</a>
            </li>
            {% else %}
            <li>
                <a href="{{ url_for('user.logout') }}" class="contrast">Logout</a>
            </li>
            {% endif %}
            
        </ul>
      </nav>
    

    <div class="container-fluid ">
        {% block content %}{% endblock %}
    </div>

    <div class="footer">
        <div class="container">
            &copy; 2024 NFC Contact Share
        </div>
    </div>

    <!-- additional scripts -->
    <script src="{{ url_for('static', filename='js/minimal-theme-switcher.js') }}"></script>
</body>

</html>
